<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cat"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/ip"
        android:roundIcon="@mipmap/ic_launcher_cat"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Black.NoTitleBar">
        <activity
            android:name="pl.dsquare.home.android.GymActivity"
            android:exported="false" />
        <activity
            android:name="pl.dsquare.home.android.activity.ProgressActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="pl.dsquare.home.android.activity.SheduleActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="pl.dsquare.home.android.activity.TrainActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="pl.dsquare.home.android.activity.CreateTrainingActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name="pl.dsquare.home.android.FootballActivity"
            android:exported="false"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />

        <uses-library android:name="com.android.future.usb.accessory" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>